<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @libro.titulo %>
</p>

<p>
  <b>Comentario:</b>
  <%= @libro.comentario %>
</p>


<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
