<h1>Prestamo de libros</h1>

<br><br>
<%= link_to "Clientes", clientes_path %>
<br><br>
<%= link_to "Nuevo cliente", new_cliente_path %>
<br><br><br>
<%= link_to "Libros", libros_path %>
<br><br>
<%= link_to "Nuevo libro", new_libro_path %>
<br><br>
<br><br><br>
<%= link_to "Prestamos", prestamos_path %>
<br><br>
<%= link_to "Nuevo prestamo", new_prestamo_path %>
<br><br>
<br><br>
<br><br>
<%= link_to "Clientes con fecha de devolución vencida", vencida_path %>
<br><br>